:root {
  /** Layouts **/
  --layout-mobile: 375px;
  --layout-desktop: 1440px;

  /** Colours **/
  --accent-1: 0, 100%, 67%;
  --accent-2: 39, 100%, 56%;
  --accent-3: 166, 100%, 37%;
  --accent-4: 234, 85%, 45%;

  /** Gradients **/
  --clr-lightSlateBlue: hsl(252, 100%, 67%);
  --clr-lightRoyalBlue: hsl(241, 81%, 54%);
  --clr-violetBlue: hsla(256, 72%, 46%, 1);
  --clr-persianBlue: hsla(241, 72%, 46%, 0);

  /** Neutral **/
  --clr-white: hsl(0, 0%, 100%);
  --clr-paleBlue: hsl(221, 100%, 96%);
  --clr-lightLavender: hsl(241, 100%, 89%);
  --clr-darkGrayBlue: hsl(224, 30%, 27%);

  /** Typography **/
  --font-100: 18px;
  --font-110: 1.125rem;
  --font-125: 1.25rem;
  --font-150: 1.5rem;
  --font-175: 1.75rem;
  --font-200: 2rem;

  --fw-regular: 500;
  --fw-bold: 700;
  --fw-black: 800;

  --ff-base: "Hanken Grotesk", serif;
}