/** Variable imports **/
@import url('./variables.css');

/** CSS Reset **/
/* Source: https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** My CSS **/
body {
  font-size: var(--font-125);
  font-family: var(--ff-base);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 5%;
  background-color: var(--clr-veryLightGray);
}

.preview-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 800px;
}

@media (max-width: 600px) {
  .preview-card {
    grid-template-columns: 1fr;
    max-width: 300px;
  }

  .preview-card_section {
    border-radius: var(--border-radius-mobile) !important;
  }
}

/* Generic styles */
.preview-card_section {
  background-color: var(--background-colour);
  border-radius: var(--border-radius-desktop);
  padding: 2.25rem;
}
.preview-card_details {
  display: grid;
  grid-template-rows: auto auto 1fr auto; /* Forces equal spacing */
  height: 100%; /* Makes all sections the same height */
  row-gap: 1.5rem; /* Correct way to add spacing */
}
.preview-card-details_header {
  font-size: var(--font-250);
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  color: var(--clr-veryLightGray);
  text-transform: uppercase;
}
.preview-card-details_description {
  font-size: var(--font-100);
  font-weight: var(--fw-regular);
  color: var(--clr-transparentWhite);
}
.button {
  margin-top: 2rem;
  border: none;
  padding: 8px 5px 8px 5px;
  width: 125px;
  border-radius: 1.25rem;
  border: 2px solid transparent;
  font-size: var(--font-100);
  color: var(--text-color);
}
.button:hover {
  cursor: pointer;
  background: transparent;
  color: var(--clr-veryLightGray);
  border: 2px solid var(--clr-veryLightGray);
}

/* Specific stypes */
.preview-card_section[data-item-type = "accent-1"] {
  /* Define specific variables here for corner-radius and background */
  --background-colour: var(--clr-brightOrange);
  --border-radius-desktop: 0.5rem 0 0 0.5rem;
  --border-radius-mobile: 0.5rem 0.5rem 0 0;
}
.preview-card_section[data-item-type = "accent-2"] {
  /* Define specific variables here for corner-radius and background */
  --background-colour: var(--clr-darkCyan);
  --border-radius-desktop: 0 0 0 0;
  --border-radius-mobile: 0 0 0 0;
}
.preview-card_section[data-item-type = "accent-3"] {
  /* Define specific variables here for corner-radius and background */
  --background-colour: var(--clr-veryDarkCyan);
  --border-radius-desktop: 0 0.5rem 0.5rem 0;
  --border-radius-mobile: 0 0 0.5rem 0.5rem;
}
.button[data-item-type="button-1"] {
  /* Define custom text colour */
  --text-color: var(--clr-brightOrange);
}
.button[data-item-type="button-2"] {
  /* Define custom text colour */
  --text-color: var(--clr-darkCyan);
}
.button[data-item-type="button-3"] {
  /* Define custom text colour */
  --text-color: var(--clr-veryDarkCyan);
}


/** Attribution Styling **/
.attribution { 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}