/** Variable imports **/
@import url('./variables.css');

/** CSS Reset **/
/* Source: https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** My CSS **/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 5%;
  font-family: var(--ff-base);
  background-color: var(--clr-stone100);
}

.recipe-card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2rem;
  border-radius: 0.75rem;
  max-width: 750px;
  background-color: var(--clr-white);
}
.recipe-card img {
  border-radius: 0.75rem;
}
.recipe-card_header {
  font-size: var(--font-225);
  font-family: var(--ff-accent);
  font-weight: var(--fw-regular);
  color: var(--clr-stone900);
}
.recipe-card_description {
  font-size: var(--font-100);
  font-weight: var(--fw-regular);
  color: var(--clr-stone600);
  margin-right: 2rem;
}

.preparation-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.25rem;
  border-radius: 0.5rem;
  background-color: var(--clr-rose50);
}
.preparation-section_header {
  font-size: var(--font-110);
  font-weight: var(--fw-bold);
  color: var(--clr-rose800);
}
.preparation-section_list {
  padding: 0 0 0 1rem;
}
.preparation-section_list li {
  padding-left: 1rem;
  margin-top: 0.25rem;
  font-size: var(--font-100);
  color: var(--clr-stone600);
}
.preparation-section_list li::marker {
  color: var(--clr-rose800);
  font-size: 0.75rem;
}

.ingredients-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.ingredients-section_header {
  font-size: var(--font-175);
  font-family: var(--ff-accent);
  font-weight: var(--fw-regular);
  color: var(--clr-brown800);
}
.ingredients-section_list {
  padding: 0 0 0 1.5rem;
}
.ingredients-section_list li {
  padding-left: 1rem;
  margin-top: 0.25rem;
  font-size: var(--font-100);
  color: var(--clr-stone600);
}
.ingredients-section_list li::marker {
  color: var(--clr-brown800);
  font-size: 0.75rem;
}

.instructions-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.instructions-section_header {
  font-size: var(--font-175);
  font-family: var(--ff-accent);
  font-weight: var(--fw-regular);
  color: var(--clr-brown800);
}
.instructions-section_list {
  padding: 0 0 0 1.5rem;
}
.instructions-section_list li {
  padding-left: 1rem;
  margin-top: 0.25rem;
  font-size: var(--font-100);
  color: var(--clr-stone600);
}
.instructions-section_list li::marker {
  color: var(--clr-brown800);
  font-weight: var(--fw-bold);
}


/** Attribution Styling **/
.attribution { 
  text-align: center;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}