/** Variable imports **/
@import url('./variables.css');

/** CSS Reset **/
/* Source: https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** My CSS **/
body {
  font-size: var(--font-100);
  font-family: var(--ff-base);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 10%;
  background: url('./images/background-pattern-desktop.svg') no-repeat top var(--clr-lightPink);
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--clr-lightPink);
}

.faq-accordion {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.25rem;
  width: 650px;
  border-radius: 1rem;
  background-color: var(--clr-white);
}

.faq-accordion-header {
  display: flex;
  gap: 1rem;
}
.faq-accordion-header_text {
  font-size: var(--font-300);
  font-weight: var(--fw-black);
  color: var(--clr-darkPurple);
}

.faq-accordion-content {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.content_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.content-row_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.content-row_header p {
  font-size: var(--font-125);
  font-weight: var(--fw-bold);
  color: var(--clr-darkPurple);
}
.content-row_header p:hover {
  cursor: pointer;
  color: #b02cec; /* Needed to grab this from a colour picker, not given */
}
.content-row_header img {
  cursor: pointer;
}

.content-row-text_display {
  font-weight: var(--fw-regular);
  color: var(--clr-grayishPurple);
  text-align: justify;
}

.content-row-text_hidden {
  display: none;
}


/** Attribution Styling **/
.attribution { 
  text-align: center;
  color: var(--clr-darkPurple);
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}